<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Dashboard 4</h3>
        </div>

    </div>


    <div class="row justify-content-around text-center">

        <div class="card  col-6 row justify-content-around">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card   col-6 row justify-content-around">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>



    <div class=" row">

        <div class="col-6 row">
            <div class="col-12 row justify-content-between">
                <div class="right-page-header">
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="card-title m-t-10">Historial de citas</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-4">
                <div class="card-body">
                    <h4 class="card-title">En espera</h4>
                    <p class="card-text">5</p>

                </div>
            </div>

            <div class="card col-4">
                <div class="card-body">
                    <h4 class="card-title">En espera</h4>
                    <p class="card-text">5</p>

                </div>
            </div>

            <div class="card col-4">
                <div class="card-body">
                    <h4 class="card-title">En espera</h4>
                    <p class="card-text">5</p>

                </div>
            </div>

            <div class="card col-12">
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table table-hover no-wrap contact-list text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Peso</th>
                                <th>Acciòn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                <td><span class="label label-success">97 kg</span></td>
                                <td><a href="#"><i class="fas fa-eye"></i></a>
                            </tr>
                            <tr>
                                <td>2</td>

                                <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                <td><span class="label label-success">97 kg</span></td>
                                <td><a href="#"><i class="fas fa-eye"></i></a>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                <td><span class="label label-success">97 kg</span></td>
                                <td><a href="#"><i class="fas fa-eye"></i></a>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    <div class="right-page-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <h4 class="card-title m-t-10">Historial de citas</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 row justify-content-between">
                        <div class="card col-3">
                            <div class="card-body">
                                <h5 class="card-title">Resueltos</h5>
                                <p class="card-text">5</p>

                            </div>
                        </div>

                        <div class="card col-3">
                            <div class="card-body">
                                <h5 class="card-title">En proceso</h5>
                                <p class="card-text">5</p>

                            </div>
                        </div>

                        <div class="card col-3">
                            <div class="card-body">
                                <h5 class="card-title">Pendientes</h5>
                                <p class="card-text">5</p>

                            </div>
                        </div>

                        <div class="card col-3">
                            <div class="card-body">
                                <h5 class="card-title">Vencidos</h5>
                                <p class="card-text">5</p>

                            </div>
                        </div>
                    </div>
                    <div class="card col-12">
                        <div class="table-responsive">
                            <table id="demo-foo-addrow" class="table table-hover no-wrap contact-list text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha</th>
                                        <th>Peso</th>
                                        <th>Acciòn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                        <td><span class="label label-success">97 kg</span></td>
                                        <td><a href="#"><i class="fas fa-eye"></i></a>
                                    </tr>
                                    <tr>
                                        <td>2</td>

                                        <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                        <td><span class="label label-success">97 kg</span></td>
                                        <td><a href="#"><i class="fas fa-eye"></i></a>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><span class="label label-danger">20 - Enero - 2019 </span> </td>
                                        <td><span class="label label-success">97 kg</span></td>
                                        <td><a href="#"><i class="fas fa-eye"></i></a>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-around text-center">

        <div class="col-5 row justify-content-around">
            <div class="card col-4">
                <div class="card-body">
                    <h5 class="card-title">Resueltos</h5>
                    <p class="card-text">5</p>

                </div>
            </div>
            <div class="card col-4">
                <div class="card-body">
                    <h5 class="card-title">En proceso</h5>
                    <p class="card-text">5</p>

                </div>
            </div>
            <div class="card col-4">
                <div class="card-body">
                    <h4 class="card-title">En espera</h4>
                    <p class="card-text">5</p>

                </div>
            </div>
        </div>

        <div class="col-6 row justify-content-between">
            <div class="card col-3">
                <div class="card-body">
                    <h5 class="card-title">Resueltos</h5>
                    <p class="card-text">5</p>

                </div>
            </div>

            <div class="card col-3">
                <div class="card-body">
                    <h5 class="card-title">En proceso</h5>
                    <p class="card-text">5</p>

                </div>
            </div>

            <div class="card col-3">
                <div class="card-body">
                    <h5 class="card-title">Pendientes</h5>
                    <p class="card-text">5</p>

                </div>
            </div>

            <div class="card col-3">
                <div class="card-body">
                    <h5 class="card-title">Vencidos</h5>
                    <p class="card-text">5</p>

                </div>
            </div>
        </div>


    </div>




    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>