<div class="row page-titles">
    <div class="col-12 row">
        <div class="col-6 text-left">
            <h3 class="text-themecolor">Listado de pendientes</h3>
        </div>
        <!-- <div class="col-6 text-right">
            <button (click)="nuevo()" type="button" class="btn btn-success align-self-auto" data-toggle="modal" data-target="#exampleModal">
                Agregar pendiente
                <i class="fas fa-play-circle"></i>     
        </button>
        </div> -->
    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-3">
                    <button (click)="nuevo()" type="button" class="btn btn-info align-self-auto" data-toggle="modal" data-target="#exampleModal">
                        Agregar pendiente
                        <i class="fas fa-play-circle"></i>     
                    </button>                
                </div>

                <div class="col-3">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Solicitante</label>
                        <input [(ngModel)]="nombre" #input class="form-control" type="text" placeholder="Buscar elemento...">
                    </div>
                </div>


                <div class="col-3 ">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Estatus</label>
                        <select  (change)="getPorEstatus($event.target.value)" name="estatus" class="form-control">
                            <option selected value="0">Seleccione un estatus</option>
                            <option *ngFor="let objEstatus of objEstatus" [value]="objEstatus.id_status">
                                {{objEstatus.descripcion}}
                            </option> 
                        </select>
                    </div>           
                </div>
                <div class="col-1 text-left">   
                    <button class="btn btn-info" (click)="getFiltrado()">
                        <i class="fas fa-search"></i>
                        Buscar
                    </button>      
                </div>
                <div class="col-1 text-rigth">   
                    <button class="btn btn-warning" (click)="exportexcel()">
                        <i class="fas fa-download"></i>
                        Exportar
                    </button>      
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12" *ngIf="cargando">
    <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fas fa-sync-alt fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Catálogo de pendientes</h4>
                <div class="table-responsive">
                    <table id="bitPendientes" class="table color-table info-table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Título</th>
                                <th class="text-center">Descripción</th>
                                <th>Clasificación</th>
                                <th class="text-center">Tipo pendiente</th>
                                <th>Prioridad</th>
                                <th>Solicitante</th>
                                <th>Fecha</th>
                                <th>Compromisos</th>
                                <th>Archivo</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let obj of objeto; let i = index">
                                <!-- <td>{{i+1}}</td> -->
                                <td>{{obj.id_pendiente}}</td>
                                <td>{{obj.titulo}}</td>
                                <td>{{obj.descripcion}}</td>
                                <td>{{obj.clasificacion}}</td>
                                <td>{{obj.pendiente}}</td>
                                <td>{{obj.prioridad}}</td>
                                <td>{{obj.solicitante}}</td>
                                <td>{{obj.fecha}}</td>
                                <td>{{obj.num_compromisos}}</td>
                                <td>
                                    <a href="{{rutaArchivo}}{{obj.archivo}}" target="_blank">
                                    {{obj.archivo}}</a>
                                </td>
                                <td>{{obj.status}}</td>
                                <td class="d-flex justify-content-between">
                                    <a routerLink="/compromiso/{{obj.id_pendiente}}" ><i class="fas fa-plus-circle text-success"></i></a>
                                    <a data-toggle="modal" data-target="#exampleModal" (click)="actulizar(obj)"><i class="fas fa-edit text-warning"></i></a> 
                                    <a (click)="borrar(obj)"><i class="fas fa-trash-alt text-danger"></i></a> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="paginado" class="col-12 row text-center">
                        <div class="col-6">
                            <button (click)="cambiarDesde(-6)" class="btn btn-secondary">Anteriores</button>
                        </div>
                        <div class="col-6">
                            <button (click)="cambiarDesde(6)" class="btn btn-secondary">Siguientes</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pendiente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCatalogo(f)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Título</label>
                        <input [(ngModel)]="pendiente.titulo" type="text" class="form-control" name="titulo" aria-describedby="emailHelp" placeholder="Ingrese la descripción" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Solicitante</label>
                        <input [(ngModel)]="pendiente.solicitante" type="text" class="form-control" name="solicitante" aria-describedby="emailHelp" placeholder="Ingrese la descripción" required>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="exampleInputEmail1">Estatus</label>
                                <select [(ngModel)]="pendiente.id_status" name="id_status" class="form-control">
                                    <option selected value="0">Seleccione el estatus</option>
                                    <option *ngFor="let obj of estatus" [value]="obj.id_status">
                                        {{obj.descripcion}}
                                    </option>
                                  
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Archivo</label>
                                <input (change)="seleccionImagen( $event.target.files[0] )" type="file" class="form-control" name="archivo" aria-describedby="emailHelp" placeholder="Ingrese la descripción">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="exampleInputEmail1">Clasificación</label>
                                <select [(ngModel)]="pendiente.id_clasificacion" name="id_clasificacion" class="form-control">
                                    <option selected value="0">Seleccione una clasificación</option>
                                    <option *ngFor="let clasificacion of clasificaciones" [value]="clasificacion.id_clasificacion">
                                        {{clasificacion.descripcion}}
                                    </option> 
                                </select>                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Tipo pendiente</label>
                                <select [(ngModel)]="pendiente.tipo_pendiente" name="tipo_pendiente" class="form-control">
                                    <option selected value="0">Seleccione un tipo</option>
                                    <option  value="1">Interno</option>
                                    <option  value="2">Externo</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="exampleInputEmail1">Prioridad</label>
                                <select [(ngModel)]="pendiente.prioridad" name="prioridad" class="form-control">
                                    <option selected value="0">Seleccione la prioridad</option>
                                    <option  value="1">1</option>
                                    <option  value="2">2</option>
                                    <option  value="3">3</option>
                                    <option  value="4">4</option>
                                    <option  value="5">5</option>
                                </select>                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Fecha</label>
                                <input [(ngModel)]="pendiente.fecha" type="date" class="form-control" name="fecha" aria-describedby="emailHelp" placeholder="Ingrese la descripción" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descripción</label>
                        <textarea [(ngModel)]="pendiente.descripcion" name="descripcion" class="form-control rounded-0"  rows="3" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="cierraModal" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#observaciones">
    Launch demo modal
  </button>

<div class="modal fade" id="observaciones" tabindex="-1" aria-labelledby="observacionesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="observacionesLabel">Observaciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #o="ngForm" ngNativeValidate (ngSubmit)="guardarObservacion(o)">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Observación de edición</label>
                        <textarea [(ngModel)]="objObservacion.descripcion" name="descripcion" class="form-control rounded-0"  rows="10" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="cierraModalObs" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info">Guardar</button>
                </div>
            </form>
        </div>
       
      </div>
    </div>
  </div>